.collection-item {
    background-color: #f7f7f7;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.item-image {
    width: 325px;
    height: 395px;
}
.item-image img {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    object-fit: fit;
}

.item-footer {
    color: black;
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}