.slick-slider {
    width: 100%;
}

.slick-prev {
    left: -35px;
}
.slick-prev:before {
    color: rgb(63, 62, 62);
    font-size: 30px;
}

.slick-next:before {
    color: rgb(63, 62, 62);
    font-size: 30px;
}