.homepage-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.hero-banner {
    height: 30%;
    width: 100%;
}