@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
  --bg: #2c2a2e;
  --bg-accent: #484a4d;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  --heading-font: 'Bebas Neue', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEAEA;
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #EEEAEA;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 2.2;
}

h2{
  font-weight: 600;
  margin-bottom: 10px;
}

h1 svg {
  margin-bottom: 5px;
}

.icon-button {
  width: 25px;
  margin-left: 0.5rem;
}

.heading {
  display: grid;
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: 700;
  justify-items: center;
  margin-bottom: 20px;
  margin-top: 60px;
  padding: 0 20px;
}

.form-heading {
  align-items: center;
  display: flex;
  font-size: 1.5em;
}

.form-heading + p {
  font-size: 1.75rem;
}

.form {
  display: grid;
  width: 35%;
  margin: 0 auto;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.section-heading {
  display: inline-flex;
  align-items: center;
}

.section-heading svg {
  width: 50px;
}

/*   MEDIA  */

@media (min-width: 600px) {

}