.product-container {
    position: relative;
    margin:  14px auto;
    width: 80%;
}

.thumbnail-section, .info-container {
    width: 40%
}

.content-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3%;
}

.product-image-section {
    display: flex;
    justify-content: space-between;
    height: 575px;
    width: 50%;
    margin-bottom: 40px;
}

.thumbnail-section {
    align-items: flex-start;
    display: flex;
    margin-right: 25px;
    width: 15%;
}
  
.thumbnail-section .slick-slide div {
    display: flex;
    justify-content: center;
}

.thumbnail-section .slick-slide img {
    border-radius: 5px;
    object-fit: fill;
    width: 100px !important;
    height: 100px;
    border: none;
    cursor: pointer;
}

.thumbnail-section .slick-slide img:hover {
    opacity: 0.5;
}

.main-image {
    width: 575px;
    height: 100%;
}

.main-image img {
    width: 100%;
    height: 575px;
    object-fit: fill;
}

.info-container {
    background-color: #fff;
    display: flex;
    position: relative;
    height: 575px;
}

.product-details {
    width: 100%; 
    position: absolute;
    padding-top: 50px;
}

.product-title {
    width: 100%;
    font-size: 36px;
}

.product-description {
    position: relative;
}

.span-separation {
    display: flex;
    justify-content: space-between;
}

.product-price {
    color: red;
    font-size: 30px;
    font-weight: 600;
}

