.product-container {
    position: relative;
    margin:  14px auto;
    width: 80%;
}

.content-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3%;
}

.info-container {
    width: 30%;
    background-color: #fff;
    display: flex;
    position: relative;
    height: 575px;
}

.product-details {
    width: 100%; 
    position: absolute;
    padding-top: 50px;
}

.product-title {
    width: 100%;
    font-size: 36px;
}

.span-separation {
    display: flex;
    align-items: center;
}

.ls {
    margin-right: auto;
}

.num-reviews a {
    color: black;
    font-size: 14px;
    margin: 0 8px;
}

.num-reviews a:hover {
    border-bottom: 1px solid black;
}

.product-price {
    color: red;
    font-size: 30px;
    font-weight: 600;
}

.product-description {
    margin-top: 25px;
}
