.product-container {
    position: relative;
    margin:  14px auto;
    width: 80%;
}

.content-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3%;
}

.product-image-section {
    display: flex;
    justify-content: space-between;
    height: 575px;
    width: 50%;
    margin-bottom: 40px;
}

.thumbnail-section {
    align-items: flex-start;
    display: flex;
    margin-right: 25px;
    width: 15%;
}
  
.thumbnail-section .slick-slide div {
    display: flex;
    justify-content: center;
}

.thumbnail-section .slick-slide img {
    border-radius: 5px;
    object-fit: cover;
    height: 100px;
}

.thumbnail-section .slick-slide img:hover {
    opacity: 0.5;
}

.thumbnail-section .info-container {
    width: 40%
}

.main-image {
    width: 575px;
    height: 100%;
}

.main-image img {
    width: 575px;
    height: 100%;
    object-fit: fill;
}

[role="thumbnail"]:hover {
    color: red;
    z-index: 100px;
}

